<!DOCTYPE html>
<html>
<head>
  <title>Loveybot | Feeling Blue? | Spread Some Ruby Love! </title>
  <link href='http://fonts.googleapis.com/css?family=Chango' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Homenaje' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>	
<h1>LOVEYBOT</h1>
</header>	
<%= yield %>
<footer>	
  <%= link_to image_tag("/assets/lovey.png"), "http://twitter.com/loveybot" %>
  <%= link_to image_tag("/assets/elise.png"), "http://twitter.com/eliseworthy" %>
  <%= link_to image_tag("/assets/mark.jpg"), "http://twitter.com/marktabler" %>
</footer>
</body>
</html>
